# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anom_term = pd.Series(dados)
anom_term

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui

anom_term_anos = pd.Series(dados, index=[1900, 1920, 1940, 1960, 1980, 2000, 2020])
anom_term_anos

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temperatura_series = pd.Series(dic_temperaturas)
temperatura_series

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [7]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

pd.DataFrame(arr)

             0           1           2
0    87.375617  111.463704  111.479072
1   101.707169  116.865944   94.931578
2    98.487417   86.164429   86.359345
3    90.945571  109.286743   88.549901
4   113.385123   99.138265   99.270391
5   103.276266   83.365256  108.806497
6   100.417914  109.020010  112.184033
7   108.385747  115.541715   79.735227
8    99.260144   97.921923   96.157663
9   115.192663   97.557778   99.997086
10   89.268696  103.726954   90.404327
11   97.263413  126.215860  115.639016
12  106.203470   91.736259  109.134157
13  107.942625  103.196646   78.650690
14  119.418108   94.814820  106.147899
15  109.451714   93.683185   93.381107
16   77.420860  103.605715   99.753431
17  101.565643  105.140206   94.284967
18   97.790104   91.563049   91.525126
19  104.398651  101.517407  109.640101

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [10]:
#seu código aqui

dados = pd.DataFrame(arr, 
                     index=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
                     columns=['x1', 'x2', 'x3'])

dados

            x1          x2          x3
1    87.375617  111.463704  111.479072
2   101.707169  116.865944   94.931578
3    98.487417   86.164429   86.359345
4    90.945571  109.286743   88.549901
5   113.385123   99.138265   99.270391
6   103.276266   83.365256  108.806497
7   100.417914  109.020010  112.184033
8   108.385747  115.541715   79.735227
9    99.260144   97.921923   96.157663
10  115.192663   97.557778   99.997086
11   89.268696  103.726954   90.404327
12   97.263413  126.215860  115.639016
13  106.203470   91.736259  109.134157
14  107.942625  103.196646   78.650690
15  119.418108   94.814820  106.147899
16  109.451714   93.683185   93.381107
17   77.420860  103.605715   99.753431
18  101.565643  105.140206   94.284967
19   97.790104   91.563049   91.525126
20  104.398651  101.517407  109.640101

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [11]:
# seu código aqui

dados['media'] = (dados['x1']+dados['x2']+dados['x3'])/3

dados

            x1          x2          x3       media
1    87.375617  111.463704  111.479072  103.439464
2   101.707169  116.865944   94.931578  104.501564
3    98.487417   86.164429   86.359345   90.337064
4    90.945571  109.286743   88.549901   96.260738
5   113.385123   99.138265   99.270391  103.931260
6   103.276266   83.365256  108.806497   98.482673
7   100.417914  109.020010  112.184033  107.207319
8   108.385747  115.541715   79.735227  101.220897
9    99.260144   97.921923   96.157663   97.779910
10  115.192663   97.557778   99.997086  104.249176
11   89.268696  103.726954   90.404327   94.466659
12   97.263413  126.215860  115.639016  113.039430
13  106.203470   91.736259  109.134157  102.357962
14  107.942625  103.196646   78.650690   96.596654
15  119.418108   94.814820  106.147899  106.793609
16  109.451714   93.683185   93.381107   98.838669
17   77.420860  103.605715   99.753431   93.593335
18  101.565643  105.140206   94.284967  100.330272
19   97.790104   91.563049   91.525126   93.626093
20  104.398651  101.517407  109.640101  105.185387

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [12]:
# seu código aqui

dados['log_med'] = np.log(dados['media'])

dados

            x1          x2          x3       media   log_med
1    87.375617  111.463704  111.479072  103.439464  4.638987
2   101.707169  116.865944   94.931578  104.501564  4.649202
3    98.487417   86.164429   86.359345   90.337064  4.503548
4    90.945571  109.286743   88.549901   96.260738  4.567061
5   113.385123   99.138265   99.270391  103.931260  4.643730
6   103.276266   83.365256  108.806497   98.482673  4.589881
7   100.417914  109.020010  112.184033  107.207319  4.674765
8   108.385747  115.541715   79.735227  101.220897  4.617305
9    99.260144   97.921923   96.157663   97.779910  4.582719
10  115.192663   97.557778   99.997086  104.249176  4.646784
11   89.268696  103.726954   90.404327   94.466659  4.548247
12   97.263413  126.215860  115.639016  113.039430  4.727737
13  106.203470   91.736259  109.134157  102.357962  4.628476
14  107.942625  103.196646   78.650690   96.596654  4.570544
15  119.418108   94.814820  106.147899  106.793609  4.670898
16  109.451714   93.683185   93.381107   98.838669  4.593489
17   77.420860  103.605715   99.753431   93.593335  4.538959
18  101.565643  105.140206   94.284967  100.330272  4.608467
19   97.790104   91.563049   91.525126   93.626093  4.539309
20  104.398651  101.517407  109.640101  105.185387  4.655724